Django<1.9
Markdown==2.6.2
Pillow==2.8.1
argparse==1.2.1
coverage==3.7.1
python-coveralls<2.6
django-bootstrap3==5.4.0
django-braces<1.9
django-debug-toolbar==1.3.0
django-debug-toolbar-template-timings==0.6.4
django-markdown-deux==1.0.5
django-versatileimagefield==1.0
dropbox==2.2.0
markdown2==2.3.0
python-memcached==1.54
# selenium==2.45.0
six==1.9.0
sorl-thumbnail<13
sqlparse==0.1.15
urllib3==1.10.4
# mysql-python
#mysql-connector-python
mysqlclient==1.3.12
# wsgiref==0.1.2
