{
    "project": "",
    "gituser": "",
    "sitename": "stubside.com",
    "live" : {
        "SECRET_KEY": "",
        "SHELL_USER": "",
        "DOMAIN": "",
        "DB_NAME": "",
        "DB_USER": "",
        "DB_PASS": "",
        "DB_HOST": ""
    },
    "test" : {
        "SECRET_KEY": "",
        "SHELL_USER": "",
        "DOMAIN": "",
        "DB_NAME": "",
        "DB_USER": "",
        "DB_PASS": "",
        "DB_HOST": ""
    }
}