{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Confirm password reset{% endblock %}
{% block page_title %}Confirm password reset{% endblock %}

{% block content %}
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 body">
	<form role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
	  {% bootstrap_form form layout='inline' %}
	  {% buttons %}
	    <button type="submit" class="btn btn-primary">
	      {% bootstrap_icon "ok" %} Submit
	    </button>
	  {% endbuttons %}
	</form>
</div>
{% endblock %}

