import sys, os

INTERP = "/home/%(SHELL_USER)s/%(DOMAIN)s/env/bin/python"
#INTERP is present twice so that the new python interpreter knows the actual executable path
if sys.executable != INTERP: os.execl(INTERP, INTERP, *sys.argv)
cwd = os.getcwd()
sys.path.append(cwd)

project_location = cwd + '/config'

sys.path.insert(0, project_location)

#Switch to new python
if sys.version < "2.7.3": os.execl("/home/%(SHELL_USER)s/%(DOMAIN)s/env/bin/python",
    "python2.7.3", *sys.argv)

sys.path.insert(0,'/home/%(SHELL_USER)s/%(DOMAIN)s/env/bin')
sys.path.insert(0,'/home/%(SHELL_USER)s/%(DOMAIN)s/env/lib/python2.7/site-packages/django')
sys.path.insert(0,'/home/%(SHELL_USER)s/%(DOMAIN)s/env/lib/python2.7/site-packages')

os.environ['DJANGO_SETTINGS_MODULE'] = "config.settings.live"

os.environ["DB_NAME"] = "%(DB_NAME)s"
os.environ["DB_USER"] = "%(DB_USER)s"
os.environ["DB_PASS"] = "%(DB_PASS)s"
os.environ["DB_HOST"] = "%(DB_HOST)s"
os.environ["SECRET_KEY"] = "%(SECRET_KEY)s"
os.environ["ALLOWED_HOSTS"] = "%(DOMAIN)s"
os.environ["SITENAME"] = "%(sitename)s"

import django.core.handlers.wsgi

from django.core.wsgi import get_wsgi_application
sys.path.append(cwd + "/%(project)s")
application = get_wsgi_application()
