{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block title %}{{ image.title }}{% endblock %}
{% block page_title %}{{ image.title }}{% endblock %}
{% block extra_heading %}<span class="meta">Posted on {{ image.created }}</span>{% endblock %}

{% block content %}
<div class="col-lg-2 col-md-1">
  {% if user %}
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="{% url 'articles:image-view' image.pk %}">View</a></li>
    <li><a href="{% url 'articles:image-edit' image.pk %}">Edit</a></li>
    <li><a href="{% url 'articles:image-delete' image.pk %}">Delete</a></li>
    <li><a href="{% url 'articles:image-list' %}">List</a></li>
    <li><a href="{% url 'articles:image-new' %}">New</a></li>
  </ul>
  {% endif %}
</div>
<div class="col-lg-8 col-md-10 body">
  <img src="{{ image.image.url }}">
  <h2>{{ image.title }}</h2>
  <p>ID: {{ image.pk }}</p>
</div>
{% endblock %}
