{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load article_tags %}

{% block extrahead %}
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:type" content="article" />
<meta property="og:article:author" content="{{ article.author }}" />
{% if article.tags %}
  {% for tag in article.tags.all %}
<meta property="og:article:tag" content="{{ tag.title }}" />
  {% endfor %}
{% endif %}
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}
{% block page_title %}{{ article.title }}{% endblock %}
{% if article.subheading %}
{% block page_subheading %}{{ article.subheading }}{% endblock %}
{% endif %}
{% block extra_heading %}<span class="meta">Posted by {{ article.author }} on {{ article.created |date:'D j N Y' }}</span>{% endblock %}

{% block content %}
<div class="col-lg-2 col-md-1">
  {% if not user.is_anonymous and user == article.author %}
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="{% url 'articles:view' article.slug %}">View</a></li>
    <li><a href="{% url 'articles:edit' article.slug %}">Edit</a></li>
    <li><a href="{% url 'articles:new' %}">New</a></li>
    <li><a href="{% url 'articles:delete' article.slug %}">Delete</a></li>
  </ul>
  {% endif %}
</div>
<div class="col-lg-8 col-md-10 body">
  {{ body |markdown }}
</div>
{% if article.tags %}
<div class="col-lg-2 col-md-1">
  {% tag_list article.tags %}
</div>
{% endif %}
{% if DISQUS_SHORTNAME %}
  {% include "articles/disqus.html" with disqus_shortname="DISQUS_SHORTNAME" %}
{% endif %}
{% endblock %}
