{% extends 'base.html' %}
{% load markdown_deux_tags %}

{% block title %}{{ page.title }}{% endblock %}
{% block page_title %}{{ page.title }}{% endblock %}

{% if page.image %}
  {% block header_image %}{{ page.image.url }}{% endblock %}
{% endif %}

{% block content %}
<div class="col-lg-2 col-md-2">
  {% if user == page.author %}
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="{% url 'articles:view' page.slug %}">View</a></li>
    <li><a href="{% url 'articles:edit' page.slug %}">Edit</a></li>
    <li><a href="{% url 'articles:delete' page.slug %}">Delete</a></li>
  </ul>
  {% endif %}
</div>
<div class="col-lg-8 col-md-8 body">
  {{ page.body |markdown }}
</div>
{% endblock %}
