{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load thumbnail %}

{% block title %}Toby's website{% endblock %}
{% block page_title %}{% endblock %}
{% block page_subheading %}{{ home_article.subheading }}{% endblock %}

{% block content %}
{% if home_article %}
  <div class="col-lg-2 col-md-1 col-sm-1">
  {% if user == home_article.author %}
    <ul class="nav nav-pills nav-stacked">
      {#<li class="active"><a href="{% url 'articles:view' home_article.slug %}">View</a></li>#}
      <li><a href="{% url 'articles:edit' home_article.slug %}">Edit</a></li>
      <li><a href="{% url 'articles:delete' home_article.slug %}">Delete</a></li>
    </ul>
  {% endif %}
  </div>
  <div class="col-lg-8 col-md-10 col-sm-10">
    {#<div class="visible-xs">XS</div> <div class="visible-sm">SM</div> <div class="visible-md">MD</div> <div class="visible-lg">LG</div>#}
    <div class="body">{{ home_article.body | markdown }}</div>
  </div>
</div>
<hr>
{% endif %}
<div class="row">
  <div class="col-lg-2 col-md-1"></div>
  {% for article in articles|slice:":2" %}
  <div class="col-lg-4 col-md-5 col-md-offset-0 col-sm-10 col-sm-offset-1">
    <div class="post-preview">
      {% thumbnail article.image "600x200" crop="center" as im %}<img src="{{ im.url }}">{% endthumbnail %}
      <a href="{% url 'articles:view' article.slug %}">
        <h3 class="post-title">
          {{ article.title }}
        </h3>
        {% if article.subheading %}
        <em class="post-subtitle">
          {{ article.subheading }}
        </em>
        {% endif %}
      </a>
      <p class="post-meta">Posted by <a href="#">{{ article.author }}</a> on {{ article.created }}</p>
      <div class="body">{{ article.body | markdown | truncatewords_html:20 }}</div>
    </div>
  </div>
  {% endfor %}
</div>
<hr>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-offset-1 col-sm-10">
    <div class="row">
      {% for article in articles|slice:"2:" %}
      <div class="col-sm-4">
        <div class="post-preview">
          {# {% thumbnail article.image "455x200" crop="center" as im %}<img src="{{ im.url }}">{% endthumbnail %} #}
          <a href="{% url 'articles:view' article.slug %}">

            <h4 class="post-title visible-lg">{{ article.title }}</h4>
            <h4 class="post-title visible-md visible-sm visible-xs" style="font-size: 110%">{{ article.title }}</h4>
            {% if article.subheading %}
            <em class="post-subtitle">{{ article.subheading }}</em>
            {% endif %}
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="row">
<hr>
<!-- Pager -->
<ul class="pager">
    <li class="next">
        <a href="{% url 'articles:list' %}">Older Posts &rarr;</a>
    </li>
</ul>
{% endblock %}
